<div *ngIf="currentMarvel" class="edit-form">
  <h4>Tutorial</h4>
  <form>
    <div class="form-group">
      <label for="title">Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        [(ngModel)]="currentMarvel.title"
        name="title"
      />
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input
        type="text"
        class="form-control"
        id="description"
        [(ngModel)]="currentMarvel.description"
        name="description"
      />
    </div>

    <div class="form-group">
      <label><strong>Status:</strong></label>
      {{ currentMarvel.published ? "Published" : "Pending" }}
    </div>
  </form>

  <p>{{ message }}</p>
</div>

<div *ngIf="!currentMarvel">
  <br />
  <p>Cannot access this Marvel Character...</p>
</div>
