<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by Character"
        [(ngModel)]="character"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchCharacter()"
        >
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Character List</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let character of characters; let i = index"
        [class.active]="i == currentIndex"
      >
        {{ character.title }}
      </li>
    </ul>

  </div>
  <div class="col-md-6">
    <div *ngIf="currentCharacter">
      <h4>Tutorial</h4>
      <div>
        <label><strong>Title:</strong></label> {{ currentCharacter.title }}
      </div>
      <div>
        <label><strong>Description:</strong></label>
        {{ currentCharacter.description }}
      </div>
      <div>
        <label><strong>Status:</strong></label>
        {{ currentCharacter.published ? "Published" : "Pending" }}
      </div>

      <a class="badge badge-warning" routerLink="/characters/{{ currentCharacter.id }}">
        Edit
      </a>
    </div>

    <div *ngIf="!currentCharacter">
      <br />
      <p>Please click on a Character...</p>
    </div>
  </div>
</div>
